@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

body {
    background-image: url("img/universe.png");
    height: 100vh;
    color: #d6d6d6dc;
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
}

a {
    color: #a3a5ad;
    text-decoration: none;
}

.wrapper {
    margin:20px auto;
}

.form-container {
    padding-top: 1rem;
}

.search-result {
    z-index: 9;
    color: #ffffffcc;
    margin-top: 1rem;
    text-align: left;
    padding-left: 1rem;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.2rem;
    color: #ffffff83;
}

.input {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.2rem;
    background-color: #97bcec5d;
    color: #fff;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 4px;
}

.clear-results {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.2rem;
    background-color: #97bcec5d;
    color: #ffffffde;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.clear-results:hover {
    color: #ffffff;
    background-color: #b4cdec5d;
}

hr {
    border: 3px dashed rgba(255, 255, 255, 0.274);
    grid-area: hr;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5rem;
    margin-top: 1rem;
    min-height: 15vh;
}

.planet-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

ul {
    display: grid;
    grid-template-columns: repeat(9, 8rem);
    grid-template-rows: auto auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    border-width: 2px;
    border-color: #fff;;
    color: #e7cf60;
    font-size: 6.25rem;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result {
    text-align: left;
    max-height: 2rem;
    color: #fff;
}

.search-result-text {
    cursor: pointer;
}

li {
    max-width: 8rem;
    list-style-type: none;
}

img {
    max-width: 8rem;
    opacity: 0.5;
}

img:hover {
    max-width: 8rem;
    opacity: 1;
    animation: rotation 15s infinite linear;
    cursor: pointer;
}

h1 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 5rem;
    color: #d1d3d8;
    margin-block-start: 0;
    margin-block-end: 0;
}

.h1-planet-title {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 5rem;
    color: #ecd554e8;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}

.planet-header {
    display: grid;
    grid-template-columns: 14vh 36vh 14vh;
    grid-template-rows: 5vh auto 15vh 2vh 2vh 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-areas: 
        "prev . next"
        "info info info"
        "data data data"
        "hr hr hr"
        "moons moons moons"
        ;
}

.planet-header-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    grid-area: img;
}

.planet-header-img-container-img {
    max-width: 20vh;
    opacity: 1;
    animation: rotation 15s infinite linear;
}

.planet-header-img-container-img:hover {
    max-width: 20vh;
    opacity: 1;
    cursor:auto;
}

.planet-header-img {
    grid-area: img;
}

.planet-header-img:hover {
    grid-area: img;
}

.container-pagination-btn--prev {
    grid-area: prev;
}

.container-planet-canvas-title {
    grid-area: title
}

.container-pagination-btn--next {
    grid-area: next;
}

.pagination-btn--prev, .pagination-btn--next {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    background-color: #cccccc00;
    cursor: pointer;
    color: #ffffffc5;
    border: none;
}

.pagination-btn--prev:hover, .pagination-btn--next:hover {
    background-color: #cccccc00;
    cursor: pointer;
    color: #ffffff;
    border: none;
}

h2  {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.5rem;
    color: #eaf18157;
    letter-spacing: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 2rem;
}

.h2-planet-undertitle {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.5rem;
    color: #eaf18157;
    letter-spacing: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    padding: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #fff;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav p {
    color: #ecd554e8;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    line-height: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.grid-info {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin-block-start: 0;
    margin-block-end: 0;
    grid-column: 1 / 2;
    grid-row: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
}

.grid-info2 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin-block-start: 0;
    margin-block-end: 0;
    grid-column: 2 / 3;
    grid-row: 1;
}

.grid-info3 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin-block-start: 0;
    margin-block-end: 0;
    grid-column: 1 / 2;
    grid-row: 2;
}

.grid-info4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin-block-start: 0;
    margin-block-end: 0;
    grid-column: 2 / 3;
    grid-row: 2;
}

.grid-info5 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin-block-start: 0;
    margin-block-end: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

.planet-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.planet-info {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    grid-area: info;
}

.planet-header-wrapper {
    display: grid;
    grid-template-columns: 15vh 85vh;
    grid-template-areas: "img hd";
    max-width: 50vw;
}

.planet-info-grid {
    display: grid;
    grid-template-columns: 16.2vh 16.2vh 17vh 16.2vh;
    grid-template-rows: 1.5vh 4vh 1.5vh 4vh;
    column-gap: 0.2rem;
    grid-area: data;
    padding-top: 1rem;
}

.grid-title {
    padding: 0.5rem;
}

.planet-moons {
    min-width: 98%;
    grid-area: moons;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
